<h1>Hello, Mr Lopez!</h1>
<p>Welcome to my single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>For this demo, I decided to use the Annual Production Report data from the Dept. of the Treasury. The data is consumed from the API, database tables are cleared, and
  the data is inserted. I considered using Entity Framework for this, but I'm not familiar with it beyond it's general use and didn't want to try to use too many unfamiliar
  things in a demo. In a real world scenario, I would learn to use Entity.</p>
<p>The treasury API client and Sql utilities are in a DAL project using Dapper, Newtonsoft, and Linq.</p>
